{% extends "base.html" %}

{% block content %}
{% if user_cart %}
<h2>Cart:</h2>

<dl style="margin-left:10px">
{% for cart_item in user_cart %}
    <dt style="font-size:large"><a href="/catalog/{{ cart_item.item.item_name }}/">{{ cart_item.item.item_name }}</a></dt>
        <dd><p style="color:darkgrey"> Quantity:{{cart_item.quantity}}</p></dd>
    <br>
    <form action="/cart/remove/{{ cart_item.id }}/" method="POST">
        {%csrf_token%}
        <button type="submit">Remove</button>
    </form>
{% endfor %}
</dl>
{% else %}
    <p>Cart Empty.</p>
{% endif %}
{% endblock %}