{% extends "base.html" %}

{% block content %}
{% if sorted_catalog %}

<h2>Products:</h2>

<dl style="margin-left:10px">
{% for item in sorted_catalog %}
    <dt style="font-size:large"><a href="/catalog/{{ item.item_name }}/">{{ item.item_name }}</a></dt>
        <dd style="margin: 0;">
            <p style="color:darkgrey; margin-bottom: 0;"> €{{item.item_price}}</p>
        </dd>
        <dd>
            {% if user.is_authenticated %}
            <form action="/cart/add/{{ item.id }}/" method="POST">
                {%csrf_token%}
                <button 
                type="submit" 
                class="btn btn-outline-success btn-sm">
                Add to cart
                </button>
                {% else %}
                <a 
                class="btn btn-outline-secondary btn-sm" 
                href="/accounts/login"> <!--sends to login if loggedout-->
                Add to cart
                </a>
                {%endif%}
            </form>
        </dd>    
    <br>
{% endfor %}
</dl>


{% else %}
    <p>No items are available.</p>
{% endif %}
{% endblock %}